<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.godlife.followup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".validators.MyApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/glaj"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.JoinChurchZaria"
            android:label="@string/title_activity_join_church_zaria"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.JoinChurchMinna"
            android:label="@string/title_activity_join_church_minna"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".first_timers.TimersHome"
            android:label="@string/title_activity_timers_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.Members" />
        <activity android:name=".activities.Register" />
        <activity
            android:name=".activities.AddEvents"
            android:label="Add a Meeting" />
        <activity
            android:name=".activities.AddPraiseReport"
            android:label="Add Praise Report" />
        <activity
            android:name=".activities.AddLove"
            android:label="Add Love Note" />
        <activity
            android:name=".activities.JoinChurch"
            android:label="@string/title_activity_join_church"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddLyrics"
            android:label="Add Lyrics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddNotices"
            android:label="Add Notices"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddArticle"
            android:label="Add Article"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ServiceSummary"
            android:label="Add Service Update"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".first_timers.FirstTimers"
            android:label="@string/title_activity_first_timers"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.godlife.followup.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ResetPassword"
            android:label="Reset Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reports.Reports"
            android:label="@string/title_activity_reports"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".first_timers.AddFirstTimers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reports.AddReports"
            android:label="Add a Report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reports.ViewReport"
            android:label="View Report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reports.UpdateReport"
            android:label="Edit my Reports"
            android:screenOrientation="portrait" />
    </application>

</manifest>