<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.godlife.followup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".validators.MyApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".church_members.Members"
            android:label="@string/title_activity_members"
            android:screenOrientation="portrait" />
        <activity
            android:name=".church_members.AddMembers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".church_members.FullDetails"
            android:label="Member Full Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".church_members.UpdateMember"
            android:label="Update Member"
            android:screenOrientation="portrait" />
        <activity
            android:name=".first_timers.FirstTimers"
            android:label="@string/title_activity_first_timers"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.godlife.followup.MainActivity" />
        </activity>
        <activity
            android:name=".ResetPassword"
            android:label="Reset Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".church_members.SearchMember"
            android:label="Search by Name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".church_members.GetLocation"
            android:label="Search by Location"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reports.Reports"
            android:label="@string/title_activity_reports"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".first_timers.AddFirstTimers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reports.AddReports"
            android:label="Add a Report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".church_members.GetGender"
            android:label="Search by Gender"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reports.ViewReport"
            android:label="View Report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reports.UpdateReport"
            android:label="Edit my Reports"
            android:screenOrientation="portrait" />
        <activity android:name=".birthdays.Birthdays"></activity>
    </application>

</manifest>